/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
 #videos_index{
  @media (min-width: 992px){
    .tv-margin {
        margin-top: 45px;
    }
  }
  .tv-title{
    text-align: center;
    font-style: normal;
    color: #14032b;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    max-width: 525px;
    margin: auto;
    margin-bottom: 30px;
    strong{
      font-weight: 100;
      font-size: 30px;
      font-style: italic;
    }
  }
  @media(min-width: 1250px){
      .tv-contents {
      width: 1300px;
      margin: 0 auto;
    }
  }
  #results{
    padding-top: 20px;
  }
  #stats{
    text-align: center;
  }
  .know-vid {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 13px;
    float: none;
    .pull-left{
      text-align: center;
      img{
        width:100%;
        border-radius:3px;
      }
      .hit-name{
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 17px;
        font-size: 16px;
      }
    }
  }
  .tag-unselected{
    border-radius: 4px;
    background-color: #ebedef;
    color: #7b8996;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5px 5px 0;
    line-height: 13px;
    height: 35px;
    padding: 6px 21px;
    transition: .25s linear;
    background-color: inherit;
    width: 100%;
    &:hover{
      background-color: #2c3e50;
      color: #fff;
      padding-right: 28px;
      padding-left: 14px;
    }

    label{
      width:80%;
      .badge{
        background-color: transparent;
        position: absolute;
        top: 4px;
        right: 8px;
      }
    }
  }
  .active{
        border-radius: 4px;
    background-color: #ebedef;
    color: #7b8996;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5px 5px 0;
    line-height: 15px;
    height: 27px;
    padding: 6px 21px;
    transition: .25s linear;
  }
}