<%= render 'shared/navbar' %>
<div class="container">
  <% @videos.each do |video| %>
    <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/hqdefault.jpg") %>


    <%= video.title %>
    <%= link_to "editer", edit_video_path(video) %>
  <% end %>
</div>