<%= render 'shared/navpublic' %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="container-fluid page">
      <div class="row tv-margin">
      </div>
      <div class="row">
        <div class="tv-title">
          <strong>"Le progrès de l'entreprise par le progrès du dirigeant."</strong>
        </div>
        <div class="tv-content">
          <!-- facets -->
          <div class="col-md-2 facets-fixed tv-facets-fixed">
            <div id="category" class="facet">category</div>
            <div id="subcategory" class="facet">subcategory</div>
            <div id="tag" class="facet">Tag</div>
          </div>
          <div class="col-md-10 tv-videos-contents">
            <div id="search-input"></div>
            <div id="stats"></div>
            <br>
            <div id="hits">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="right-column">
    <div id="sort-by-wrapper"><span id="sort-by"></span></div>
    <div id="stats" class="hidden"></div>

    <div id="pagination"></div>
  </div>
</main>








<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

<% content_for(:js) do %>





  <%= javascript_tag(:js) do %>
  console.log('là');
    var search = instantsearch({
  // Replace with your own values
  appId: 'ADXJDI9UEF',
  apiKey: 'ea4fabd9298b3afe8fd053e9eb0594b7', // search only API key, no ADMIN key
  indexName: 'Video',
  urlSync: true
});

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-input',
    placeholder: 'Chercher une vidéo',
    cssClasses: {input: 'form-control'}
  })
);
search.addWidget(
  instantsearch.widgets.stats({
    container: '#stats',
    cssClasses: {body: 'hidden'}
  })
);

var hitTemplate=
    '<div class="hit-content">' +
    '<a class="pull-left" href="/videos/{{{ objectID }}}">'+
      '<img class="media-object hit-picture" src="http://img.youtube.com/vi/{{{ youtube_id }}}/hqdefault.jpg " >' +
      '<div class="hit-name">{{{_highlightResult.title.value}}}</div>' +
    '</a>'+
  '</div>';

var noResultsTemplate =
  '<div class="text-center">No results found matching <strong>{{query}}</strong>.</div>';

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    hitsPerPage: 10,
    templates: {
      empty: noResultsTemplate,
      item: hitTemplate
    },
    cssClasses: {
    item: 'col-md-3 col-sm-3 know-vid'},
    transformData: function(hit) {
      hit.stars = [];
      for (var i = 1; i <= 5; ++i) {
        hit.stars.push(i <= hit.rating);
      }
      return hit;

    }
  })
);


search.addWidget(
  instantsearch.widgets.refinementList({
    container: '#category',
    attributeName: 'category',
    operator: 'and',
    limit: 10,
    cssClasses: {
      list: 'tag',
      count: 'badge pull-right',
      item: 'tag-unselected',
      active: 'active',
      checkbox: 'hidden'
    },
    templates: {
      header: 'Categorie'
    }
  })
);

search.addWidget(
  instantsearch.widgets.refinementList({
    container: '#subcategory',
    attributeName: 'subcategory',
    operator: 'and',
    limit: 10,
    cssClasses: {
      list: 'tag',
      count: 'badge pull-right',
      item: 'tag-unselected',
      active: 'active',
      checkbox: 'hidden'
    },
    templates: {
      header: 'Sous categorie'
    }
  })
);

search.addWidget(
  instantsearch.widgets.refinementList({
    container: '#tag',
    attributeName: 'tag',
    operator: 'and',
    limit: 10,
    cssClasses: {
      list: 'tags',
      count: 'badge pull-right',
      item: 'tag-unselected',
      active: 'active',
      checkbox: 'hidden'
    },
    templates: {
      header: 'Tags'
    }
  })
);

search.start();
  <% end %>
<% end %>





