<nav class="navpublic">
  <div class="container">

    <%= link_to videos_path do %>
      <%= image_tag('logo_webtv.gif') %>
    <% end %>

    <div class="navbar-wagon-pusher"></div>
    <div class="navbar-wagon-item">
      <ul class="">
        <li class="admin-link">
          <%= link_to admin_videos_path do %>
            admin
          <% end %>
        </li>
        <li>
          <a href="https://www.apm.fr/rencontres/dashboard.htm">
            Plateforme APM
          </a>
        </li>
        <li>
          <a href="https://www.apm.fr/rencontres/actualite/afficher.htm">
            blog
          </a>
        </li>
      </ul>
      <div class="share-links">
        <a target="_blank" class="share-twitter" href="https://twitter.com/tweets_apm" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" class="share-youtube" href="https://www.youtube.com/channel/UCQ-Ycp91Hdr59izC7aeysaA" title="Youtube"><i class="fa fa-youtube"></i></a>
        <a target="_blank" class="share-linkedin" href="https://www.linkedin.com/company/apm/" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" class="share-googleplus" href="https://www.google.com/+ApmFr" title="Google Plus"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</nav>